<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="/styles/style.css">
</head>
<body>
<h1>Books List</h1>
<p style="padding:50px" class="back-link"><a href="/">← Back to Home</a></p>
<p><a href="/books/new" class="action-btn"><strong>+ Add New Book</strong></a></p>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author.name}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${'$' + book.price}"></td>
        <td>
            <a th:href="@{'/books/' + ${book.id}}" class="action-btn">View</a>
            <a th:href="@{'/books/' + ${book.id} + '/edit'}" class="action-btn">Edit</a>
        </td>
    </tr>
</table>
</body>
</html>
